data/
dataset_extracted/
*.tar.gz
*.gz
.vscode/
.cursor/
AGENTS.md
CLAUDE.md
pretrained/
experiments/
__pycache__/
*.pyc
*.pth
*.pt
.DS_Store
wandb/
*.zip
generated_images/
submission.csv
train_on_colab.ipynb
